.fundo {
    background-image: url('../../src/assets/image/fundo.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
}

.login-container-login {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 500px;
}

.esquerda-login {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.5); /* Fundo mais fosco e branco */
    color: #000; /* Cor preta */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.direita {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(150, 100, 255, 0.1); /* Fundo roxo muito suave e transparente */
    backdrop-filter: blur(15px); /* Efeito de desfoque */
    border-radius: 0 20px 20px 0; /* Bordas arredondadas apenas à direita */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    border-right: 1px solid rgba(150, 100, 255, 0.2); /* Bordas direitas sutis */
}



.bem-vindo {
    font-size: 32px;
    font-weight: bold;
    color: #000; 
    margin: 0;
    white-space: nowrap;
}

.motivacao {
    font-size: 18px;
    margin: 10px 0; 
    color: #000; 
    text-align: center; 
}

.autor {
    font-size: 16px;
    color: #000; 
    text-align: center; 
}

.input-login {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px; /* Borda mais arredondada */
    border: 1px solid #ccc;
    width: 300px;
    font-size: 14px;
}

.botao-login {
    padding: 10px;
    background: linear-gradient(90deg, #12E7F5, #7529F8); /* Degradê no botão */
    color: #fff;
    border: none;
    border-radius: 15px; /* Borda mais arredondada */
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.data-semana {
    font-size: 25px; /* Tamanho um pouco menor que o Bem-vindo */
    margin-bottom: 0; /* Remove margem abaixo */
}

.data {
    font-size: 12px; /* Data menor */
    margin-top: 5px; /* Espaçamento acima */
}

.hora {
    font-size: 30px; /* Tamanho igual ao dia da semana */
}




.botao-login:hover {
    background-color: #357ABD; 
}
